<a href="https://discord.gg/9Sh3bAvDjs" target="_blank">Support</a>
<a href="https://sakura.live" target="_blank">Contact Us</a>
<a href="https://github.com/FuyukiSakura/SakuraConnect" target="_blank">About</a>
