@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://discord.gg/9Sh3bAvDjs" target="_blank">Support</a>
            <a href="https://sakura.live" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="alert alert-primary" role="alert">
                The sites is still under construction. Please refer to our <a href="https://github.com/FuyukiSakura/SakuraConnect/wiki">GitHub</a> for features and instructions.
            </div>
            @Body
        </article>
    </main>
</div>
