@page "/"

<PageTitle>Home - Sakura Connect</PageTitle>

<h1>Hello, world!</h1>

<article>
    <pre>Welcome to Sakura Connect.

Sakura Connect is a open-source multi-platform streaming tools.

If you are a developer, feel free to help us out on <a href="https://github.com/FuyukiSakura/SakuraConnect">GitHub</a>!
    </pre>
</article>
