@page "/overlays"

<PageTitle>Overlays</PageTitle>

<h1>Overlays</h1>

<p role="main">
    For Overlay usages, please refer to our 
    <a href="https://github.com/FuyukiSakura/SakuraConnect/wiki/Overlays">GitHub - Overlays Wiki</a>
</p>
