@page "/ai-streamer"
@using SakuraConnect.Streamer.Components.Settings

<h1>AI Streamer</h1>

<div class="tw-border-solid tw-flex tw-h-100">
    <AiCharacterSettings />
    <OpenAiSettings />
    <TwitchSettings />
</div>

@code {

}
