@using SakuraConnect.Streamer.Services.Ai
@inject IAiCharacterService CharacterService

<button class="btn btn-secondary"
        type="button"
        @onclick="ShowModal">Personality</button>

<Modal @ref="ModalRef">
    <ModalContent Centered
                  Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Ai Character</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Fields>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit @bind-Text="@CharacterService.Name"
                              Placeholder="Sakura">
                        <FieldHelp>What is her name?</FieldHelp>
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel>Personality</FieldLabel>
                    <TextEdit @bind-Text="@CharacterService.Character"
                              Placeholder="You're a vtuber.'">
                        <FieldHelp>How do you want the bot the behave?</FieldHelp>
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel>Greeting style</FieldLabel>
                    <TextEdit @bind-Text="@CharacterService.GreetingStyle"
                              Placeholder="Act cute.">
                        <FieldHelp>How will Ai greets the user?</FieldHelp>
                    </TextEdit>
                </Field>
            </Fields>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code {
    Modal ModalRef { get; set; }

    /// <summary>
    /// Shows the configuration window
    /// </summary>
    /// <returns></returns>
    private Task ShowModal()
    {
        return ModalRef.Show();
    }

    /// <summary>
    /// Hides the configuration window
    /// </summary>
    /// <returns></returns>
    private Task HideModal()
    {
        return ModalRef.Hide();
    }
}