@using Sakura.Live.OpenAi.Core.Services
@inject OpenAiService OpenAiSvc

<ServiceConfigButton Service="@OpenAiSvc"
                     Clicked="ShowModal"
                     Text="Open AI" />

<Modal @ref="ModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Twitch Client</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Fields>
                <Field>
                    <FieldLabel>OpenAI API Key</FieldLabel>
                    <TextEdit @bind-Text="@OpenAiSvc.ApiKey"
                              Role="TextRole.Password">
                        <FieldHelp>How to: <a href="https://platform.openai.com/api-keys">Create OpenAI API key</a></FieldHelp>
                    </TextEdit>
                </Field>
            </Fields>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    Modal ModalRef { get; set; }

    /// <summary>
    /// Shows the configuration window
    /// </summary>
    /// <returns></returns>
    private Task ShowModal()
    {
        return ModalRef.Show();
    }

    /// <summary>
    /// Hides the configuration window
    /// </summary>
    /// <returns></returns>
    private Task HideModal()
    {
        return ModalRef.Hide();
    }
}
